@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #16a34a;
}
*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: rgb(183, 182, 182);
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #16a34a;
  border-radius: 14px;
  border: 3px solid #16a34a;
}

@layer base{
  a{
    @apply text-blue-400;
  }
  a:hover{
    @apply underline;
  }
  th,td{
    @apply border;
  }
  td{
    @apply px-2;
  }
  iframe{
    @apply w-full ;
  }
  .btn-primary{
    @apply px-6 py-2 font-semibold tracking-wide capitalize transition-transform duration-300 transform bg-gradient-to-r from-green-600 rounded-md to-green-500 hover:scale-110 focus:outline-none focus:ring focus:ring-green-300 focus:ring-opacity-80 text-white;
  }
  .btn-secondary{
    @apply px-6 py-2 font-semibold tracking-wide capitalize transition-transform duration-300 transform bg-white hover:scale-110 focus:outline-none focus:ring text-green-600 rounded-md;
  }
  .nav-link{
    @apply relative ;
  }
  .nav-link.active{
    @apply bg-green-500 px-6 py-2 rounded-lg;
    color: white !important;
  }
  .nav-link-dropdown.active{
    @apply text-green-500;
  }
  .nav-link::after {
    content: "";
    @apply absolute opacity-0 bottom-0 left-0 h-[2px] bg-green-400 rounded-xl w-0;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
  }
  .nav-link:hover{
    @apply no-underline;
  }
  .nav-link:hover::after {
    @apply opacity-100 w-full;
  }
  .nav-link.active:hover::after {
    @apply opacity-0;
  }

  .bg-white .nav-link, .bg-white a {
    @apply text-black;
  }

  .bg-none .nav-link, .bg-none a {
    @apply text-white;
  }


  .btn-dropdown{
    @apply relative z-10 block p-2 text-gray-700 bg-white border rounded-md dark:text-white hover:border-blue-500; 
  }

  .title {
    @apply text-xl font-bold inline-block relative mb-9;
  }

  .title::after {
    content: "";
    @apply absolute -bottom-2 left-0 w-3/4 h-1 bg-gradient-to-r from-green-600 rounded-md to-green-500;
  }

  .dot-custom {
    @apply w-[8px] h-[8px] bg-black rounded-full cursor-pointer;
  }
  .dot-custom.active {
    @apply bg-green-500 cursor-default;
  }

  .transition-height {
    transition: max-height 0.3s ease-in;
  }
}